*
{
	padding: 0px;
	margin: 0px;
	

}
/*body */
body{
	font-style: sans-sarif;

}
/*heading */
.heading1 {
    background-color: grey;
}
/*tab */
.tab {
	font-size: 25px;

}
.clo img{
	width: 100%;
}

/*footer */
.foot{
	background: grey;
	font-family: cursive;
}
